<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="emu_dev.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=PB2X-CORESVR;Initial Catalog=pb2x-rccdb;User ID=sa;password=123qwe;Trusted_Connection=False" providerName="System.Data.SqlClient"/>
    <add name="DB2" connectionString="data source=192.168.8.141:1521/pb2x;user id=pb2x;password=pb2x;Unicode=True" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <appSettings>
    <add key="APPNAME" value="Protocol Emulator" />
    <add key="FTP.SERVER" value="localhost" />
    <add key="FTP.UID" value="test" />
    <add key="FTP.PWD" value="123@qwe" />
    <add key="FTP.DUMMY.FILE" value="*.*" />
    <add key="OBU.IP" value="192.168.9.178" />
    <add key="DRIVER.CONSOLE.PORT" value="9001" />
    <add key="REAR.SEAT.MONITOR.PORT" value="9002" />
  </appSettings>
  <userSettings>
    <emu_dev.My.MySettings>
      <setting name="t" serializeAs="String">
        <value>Right</value>
      </setting>
    </emu_dev.My.MySettings>
  </userSettings>
</configuration>
